$dark_blue: #2e3742;
$text_white: rgb(242, 242, 242);
$footer_black: #2d2d2d;

@mixin fontFace($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			// url('#{$src}.woff') format('woff'), // standards
			url('#{$src}.TTF') format('truetype'), // Safari, Android, iOS
			url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}

@include fontFace("W7", "https://a9650615.github.io/web-programming-ntut-2017/hw/wk6/dist/font/fontW7");
@include fontFace("default", "https://a9650615.github.io/web-programming-ntut-2017/hw/wk6/dist/font/Sharp(CloudHeiPingGBK) Bold Figure Chinese Fontt-Traditional Chinese Fonts");

@keyframes show {
    from {opacity: 0; transform: translateX(-20px);}
    to {opacity: 1; transform: translateX(0px);}
}

.show {
    animation: show 2s ease;
    opacity: 1 !important;
}

body {
    font-family: 'default' !important;
}

.float_right{
    /*float: right !important;*/
}

.shadow {
  box-shadow: 0px 0px 26.6px 8.4px rgba(0, 0, 0, 0.35);
}

.logo{
    height: 100px;
    padding-left: 30px;
}

.blur{
    background: rgba(200,200,200,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(1px);
    z-index: 1;
}

.hide {
    display: none;
}

.socialBlock{
    float: right;
    &.top{
        margin-top: 50px;
        position: relative;
        z-index: 5;
    }

    &.footer{
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;
    }

    .fb{
        width: 30px;
    }

    .twitter {
        width: 32px;
    }
    figure{
        display: inline-block;
        margin-left: 20px !important;
        position: relative;
    }
    figure img{
        box-shadow: 0px 0px 10px .05px #222;
        display: inline-block;
        background: #fff;
        border-radius: 4px;
    }
}

#header{
    background-image: url('../image/header_background.jpg');
    background-size: cover;
    position: relative;

    .container{
        min-height: 500px;
    }

    .gradient{
        width: 100%;
        height: 120px;
        position: absolute;
        background: -webkit-linear-gradient(rgba(0,0,0,0.27) 0%, rgba(125,185,232,0) 100%);
        background: -moz-linear-gradient(rgba(0,0,0,0.27) 0%, rgba(125,185,232,0) 100%);
        background: -o-linear-gradient(rgba(0,0,0,0.27) 0%, rgba(125,185,232,0) 100%);
        background: linear-gradient(rgba(0,0,0,0.27) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    }

    .gradient_bottom {
        width: 100%;
        height: 120px;
        position: absolute;
        bottom: 0px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+0,0.27+100 */
        background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.27) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.27) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#45000000',GradientType=0 ); /* IE6-9 */
        z-index: 0;
    }

    nav{
        display: block;
        margin-top: 30px;

        span{
            margin-left: 10px;
            width: calc(30% - 10px);
            display: inline-block;
            vertical-align: middle;
            position: relative;
            text-align: center;
            .new {
                color: red;
                position: absolute;
                bottom: 0;
                right: 5px;
                transform: rotate(-45deg);
            }
            a{
                color: $text_white;
                text-decoration: none;
                font-size: 20px;
            }
        }
    }

    .action_title{
        text-align: center;
        padding: 60px 30px;
        font-family: "W7";
        text-shadow: 0px 0px 10px #333;
        h1 {
            font-size: 6rem;
        }
    }
}

#block_sect{
    @extend .shadow;
    background: $dark_blue;
    padding: 50px 0;

    .horizen_line{
        display: inline-block;
        line-height: calc(2rem - 2px);
        height: 2px;
        background: $text_white;
        width: calc(35% - 40px);
        margin: 0 5%;
    }

    .text{
        color: $text_white;
        font-family: "Apple LiGothic";
        line-height: 1.2;
        font-size: 2rem;
        display: inline-block;
        width: 80px;
    }
}

#sect_selector{
    text-align: center;
    
    
    .container{
        padding-top: 10px;
        border-bottom: 1px solid $text_white;
    }

    span{
        padding: 10px 30px 20px 30px;
        box-sizing: border-box;
        display: inline-block;
        z-index: 10;
        position: relative;
    }

    span.selected {
        border-bottom: 2px solid $text_white;
    }
}

#block_detail{
    background-image: url('../image/down_background.jpg');
    background-size: cover;

    .bgwb{
        background: rgba(150,150,150,0.1);
        span {
            cursor: pointer;
        }
    }

    
    #sect_img{
        padding-top: 30px;
        z-index: 10;
        position: relative;
        .revealing_button{
            border: 3px solid $text_white !important;
            width: calc(100% - 50px);
            display: block;
            margin: 0 auto 30px auto;
            transition: background .3s ease;
        }
        .revealing_button:hover{
            background: $text_white;
            color: #000 !important;
        }
        .sect_info{
            h2 {
                padding-left: 30px;
            }
            p{
                margin-bottom: 10px;
            }
            .tab {
                padding-left: 10%;
                margin-bottom: 80px;
                p{
                    opacity: 0;
                }
            }

            .religion_button, .religion_button:hover{
                margin-top: 10px;
                border: none;
                background: rgba(255,255,255,0.3);
                box-shadow: 0px 0px 10px .1px #222;
                border-radius: 0;
                position: absolute;
                right: 30px;
                padding: 5px 20px;
                color: $text_white;
                text-decoration: none;
                cursor: pointer;
                height: auto;
            }
        }
    } 
}

footer{
    line-height: 10rem;
    .container{
        background: $footer_black;
        padding: 20px 40px;
    }
    input[type=text] {
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 3px solid #43959e;
    }

    input[type=text]:focus {
        outline: none;
        border: none;
        border-bottom: 3px solid #43959e;
    }

    button{
        background: #43959e;
        box-shadow: 0px 0px 20px .1px #333;
        border: none;
        border-radius: 1px;
        margin-left: 10px;
    }
}

.container{
    color: $text_white;
    position: relative;
}

button{
    margin: auto;
    color: $text_white !important;
}

figure{
    margin: 0 !important;
    display: block;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 95% !important;
    }
}
