.main-box {
  width: 70%;
  max-width: 1024px;
  min-width: 200px;
  margin: auto;
  margin-top: 50px;
  height: 50vh;
}

.main-chat-box {
  padding: 10px;
}

.right-chat {
  display: block;
  width: 50%;
  margin-left: 50%;
  text-align: right; 
}

.left-chat {
  display: block;
  width: 50%;
  text-align: left; 
}

.show-time {
  color: #8c8c8c;
  font-size: 15px;
}